<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <location>
    <system.webServer>
      <!-- without this azure webapps will suppress error body -->
      <httpErrors existingResponse="PassThrough" />
      <rewrite>
        <rules>
          <rule name="root_default_ashx" patternSyntax="Wildcard">
            <match url="*.ashx" negate="true" />
            <conditions>
              <add input="{APPL_MD_PATH}" pattern="*/ROOT" />
              <add input="{URL}" pattern="/" negate="true" />
              <add input="{URL}" pattern="*.htm*" negate="true" />
              <add input="{URL}" pattern="*.ico*" negate="true" />
            </conditions>
            <action type="Rewrite" url="{R:1}default.ashx" appendQueryString="true" />
          </rule>
          <rule name="azure_default_ashx" patternSyntax="Wildcard">
            <match url="*.ashx" negate="true" />
            <conditions>
              <add input="{APPL_MD_PATH}" pattern="*/MySqlUtils" />
              <add input="{URL}" pattern="/MySqlUtils" negate="true" />
              <add input="{URL}" pattern="/MySqlUtils/" negate="true" />
              <add input="{URL}" pattern="*.htm*" negate="true" />
              <add input="{URL}" pattern="*.ico*" negate="true" />
            </conditions>
            <action type="Rewrite" url="{R:1}default.ashx" appendQueryString="true" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>